<template name="App_navHeader">
    <div class="ui text menu header-block">
        <div class="item logo"><a href="/"><img src="/images/logo.png" alt="anchor logo"></a></div>
        <div class="item logo"><a href="/">App name</a></div>
        <div class="right menu">           
            {{#if currentUser}}
              <div class="item"><a class="mini ui teal button sign-up js-logout">{{_ 'Logout'}}</a></div>
            {{else}}
              <div class="item"><a class="mini ui teal button sign-up" href="/signin">Sign Up</a></div>
            {{/if}}
        </div>
    </div>
</template>